<!doctype html>
<html>
    <head>
        <title>Sumire</title>
        <!-- jquery -->
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <!-- underscore.js -->
        <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
        <!-- hoon -->
        <script type="text/javascript" src="lib/hoon/hoon.min.js"></script>
        <!-- maus -->
        <script type="text/javascript" src="lib/maus/maus.min.js"></script>
        <!-- chromerred -->
        <script type="text/javascript" src="lib/chromerred/chromerred.min.js"></script>

        <script src="js/popup.js"></script>
        <link href="css/popup.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id='container'>
        </div>
    </body>
</html>
